.header {
    background: linear-gradient(135deg, #333, #04AA6D);
    padding: 1.5rem 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containerH {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo {
    flex: 1 1 auto;
    text-align: center;
    order: 2;
}

.nav-logo {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
}

.nav-logo:hover {
    color: #66FCF1;
}

.navbar {
    display: flex;
    gap: 1.75rem;
    flex: 1 1 auto;
    justify-content: center;
    flex-wrap: wrap;
    order: 1;
}

.nav-link {
    color: #f0f0f0;
    padding: 0.6rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    background-color: #66FCF1;
    color: #1f2a34;
    transform: translateY(-2px);
}

.nav-link.active {
    background-color: #66FCF1;
    color: #1f2a34;
}

@media (min-width: 768px) {
    .logo {
        flex: 1 1 auto;
        text-align: left;
        order: 1;
        margin-bottom: 0;
    }

    .nav-logo {
        margin-right: 2.5rem;
    }

    .navbar {
        justify-content: flex-end;
        order: 2;
    }
}
